{{> head}}


   {{> navbar}}
 <div class="row">
     <div class="col-8">
         <h1>Long</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa expedita iure obcaecati iste error dicta beatae odit ipsam officiis. Quia nemo repudiandae illo optio, incidunt vitae nobis? Voluptas, ut repudiandae!</p>
     </div>
     <div class="col-4">
         <img src="assets/img/img.jpg" class="img-thumbnail">
     </div>
 </div>

  {{> footer}}